fastapi==0.108.0
pydantic==2.5.3
uvicorn==0.25.0
requests==2.31.0
pandas==2.1.4
matplotlib==3.8.0
fpdf==1.7.2
starlette==0.32.0
scipy==1.12.0
pvlib==0.10.3
h5py==3.10.0
scikit-learn==1.4.0
firebase-admin==6.4.0
Pillow==9.4.0
passlib==1.7.4
jose==1.0.0
Crypto==1.4.1
python-jose==3.3.0
python-multipart==0.0.9
reportlab==4.2.0
shapely==2.0.4